body {
 
  background: url('../img/bg.jpg') no-repeat center center fixed, 
              linear-gradient(to bottom, #222, #555);
  background-size: cover;
  background-color: #f8f9fa; 
  
  font-family: 'Segoe UI', sans-serif;
  color: white;
  min-height: 200vh; 
  margin: 0;
}
/* Thanh menu  */
.nenxanh {
  background-color: #0000004b;
}
/* Màu chữ nav */
.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

/* Màu khi Đụng vào */
.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

/* card  */
.hanghoa-container .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hanghoa-container .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

